<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="ja" xml:lang="ja">
<!-- InstanceBegin template="/Templates/index.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>パティオ池鯉鮒（知立市文化会館）</title>
<!-- InstanceEndEditable -->
<meta name="description" content="パティオ池鯉鮒（知立市文化会館）" />
<meta name="keywords" content="パティオ池鯉鮒（知立市文化会館）" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-script-type" content="text/javascript" />
<script language="javascript" type="text/javascript" src="file:///C|/Documents and Settings/fukaya/My Documents/ユーザーサイト/js/iepngfix.js"></script>
<script src="file:///C|/Documents and Settings/fukaya/My Documents/ユーザーサイト/Scripts/swfobject_modified.js" type="text/javascript"></script>
<script type="text/javascript" src="../js/styleswitcher.js"></script>
<script type="text/javascript">
<!--
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
<!-- InstanceBeginEditable name="head" -->
<link href="../css/event.css" rel="stylesheet" type="text/css" />
<link rel="alternate stylesheet" type="text/css" href="../css/index3.css" title="standard" />
<link rel="alternate stylesheet" type="text/css" href="../css/index2.css" title="large" />
<style type="text/css">
#navigation li.menu5 a {
	background:url(../img/menu.jpg) no-repeat -96px -123px;
}
</style>
<!-- InstanceEndEditable -->
</head>
<body onload="MM_preloadImages('img/menu1a.jpg','img/menu2a.jpg','img/smenu2.jpg')">
<!-- Header -->
<div id="wrapper">
<div id="header"> <a href="../index.html"><span>パティオ池鯉鮒（知立市文化会館）</span></a>
<h1>ここにSEO対策分が入りますここにSEO対策分が入りますここにSEO対策分が入りますここにSEO対策分が入ります</h1>
<!-- サブメニュー -->
<div id="subnavigation">
<ul>
<li>
<input type="text" size="30" />
<img src="../img/kensaku.jpg" width="53" height="23" alt="" /></li>
<li><img src="../img/english.jpg" width="78" height="24" alt="" /></li>
<li><img src="../img/size.jpg" alt="" width="155" height="23" border="0" usemap="#Map" />
<map name="Map" id="Map">
<area shape="rect" coords="74,4,109,19" href="javascript:void(0);"  onclick="setActiveStyleSheet('standard'); return false;" />
<area shape="rect" coords="110,4,145,19" href="javascript:void(0);" onclick="setActiveStyleSheet('large'); return false;" />
</map>
</li>
</ul>
</div>
<!-- /サブメニュー -->
<!-- Navigation -->
<div id="navigation">
<ul>
<li class="menu0"><a href="/room/index.html">施設空き情報</a></li>
<li class="menu1"><a href="/seat/index.html">座席表</a></li>
<li class="menu2"><a href="/society/index.html">ちりゅう芸術創造協会について</a></li>
<li class="menu3"><a href="/contact/index.html">お問い合わせ</a></li>
<li class="menu4"><a href="../index.html">ホーム</a></li>
<li class="menu5"><a href="index.html">イベント・講座情報</a></li>
<li class="menu6"><a href="/about/index.html">施設のご案内</a></li>
<li class="menu7"><a href="/how/index.html">施設の利用について</a></li>
<li class="menu8"><a href="/sheet/index.html">パティオシート</a></li>
<li class="menu9"><a href="/access/index.html">アクセスマップ</a></li>
</ul>
</div>
<!-- /Navigation -->
</div>
<!-- Main -->
<div id="main"><!-- InstanceBeginEditable name="main" -->
<table width="100%" border="0" cellspacing="1" cellpadding="1">
<tr>
<td height="400" align="center" valign="middle"> %mes% </td>
</tr>
</table>
<!-- InstanceEndEditable --></div>
<div class="clear"></div>
</div>
<div id="address">パティオ池鯉鮒（知立市文化会館）　　〒472-0026 愛知県知立市上重原町間瀬口116番地　　ちりゅう芸術創造協会　　ＴＥＬ0566-83-8100　ＦＡＸ0566-83-8110</div>
<div id="footer">
<ul>
<li class="menu0"><a href="/room/index.html">施設空き情報</a></li>
<li><a href="/seat/index.html">座席表</a></li>
<li><a href="/society/index.html">ちりゅう芸術創造協会について</a></li>
<li><a href="/contact/index.html">お問い合わせ</a></li>
</ul>
<ul>
<li><a href="/index.html">ホーム</a></li>
<li><a href="/event/index.html">イベント・講座情報</a></li>
<li><a href="/about/index.html">施設のご案内</a></li>
<li><a href="/how/index.html">施設の利用について</a></li>
<li><a href="/sheet/index.html">パティオしーと</a></li>
<li><a href="/access/index.html">アクセスマップ</a></li>
</ul>
<div class="copy">Copyright 2010 Chiryu Municipal Gov. All Rights Reserved</div>
</div>
<!-- /Footer -->
</body>
<!-- InstanceEnd -->
</html>
